@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #910959;
}

/* Corner */
::-webkit-scrollbar-corner {
  background-color: #222;
}

/* Resizer */
::-webkit-scrollbar-resizer {
  background-color: #910959;
}

/* Additional Styles */
::-webkit-scrollbar-thumb {
  background-color: #910959;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #910959;
}

.markdown > * {
  all: revert;
}
